<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>transactionServlet</servlet-name>
        <servlet-class>toba.customer.transactionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>passwordResetServlet</servlet-name>
        <servlet-class>toba.customer.passwordResetServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthServlet</servlet-name>
        <servlet-class>toba.customer.AuthServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationServlet</servlet-name>
        <servlet-class>toba.customer.RegistrationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>transactionServlet</servlet-name>
        <url-pattern>/transactionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>passwordResetServlet</servlet-name>
        <url-pattern>/passwordResetServlet</url-pattern>
    </servlet-mapping>
    <error-page>
        <error-code>404</error-code>
        <location>/error_404.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/error_java.jsp</location>
    </error-page>
    <servlet-mapping>
        <servlet-name>AuthServlet</servlet-name>
        <url-pattern>/AuthServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationServlet</servlet-name>
        <url-pattern>/RegistrationServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
